@import "tailwindcss";

@theme inline {
  --color-background: hsl(240, 4%, 5%);
  --color-surface: hsl(240, 7%, 9%);
  --color-elevated: hsl(240, 6%, 13%);
  --color-glass: hsl(240, 11%, 9%, 0.55);

  --color-surface-hover: hsl(240, 7%, 12%);
  --color-elevated-hover: hsl(240, 8%, 18%);

  --color-text-primary: hsl(240, 5%, 96%);
  --color-text-secondary: hsl(240, 5%, 65%);
  --color-text-muted: hsl(240, 4%, 46%);
  --color-text-disabled: hsl(240, 5%, 34%);
  --color-text-inverted: hsl(240, 3%, 6%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(240, 6%, 90%);
  --color-neutral-400: hsl(240, 5%, 65%);
  --color-neutral-600: hsl(240, 5%, 34%);
  --color-neutral-800: hsl(240, 4%, 16%);
  --color-neutral-900: hsl(240, 4%, 4%);

  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-jb-mono);
  --font-title: var(--font-montserrat);
}

@keyframes shift {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
